<div class="form-row">
  <label class="form-label" [for]="fieldName">
    <span class="is-required"> {{ label }} </span>
    <app-input-error [formField]="formField"></app-input-error>
  </label>
  <div class="input-with-button-wrapper">
    <input
      class="form-element"
      [name]="fieldName"
      [id]="fieldName"
      [ngClass]="{
        'has-error': formField?.invalid && formField?.dirty
      }"
      [type]="passwordFieldType"
      [value]="value"
      [disabled]="isDisabled"
      (input)="onChange($event)"
      (blur)="touched()"
    />

    <button
      type="button"
      class="toggle-password-visibility-button"
      [title]="passwordFieldType === 'text' ? 'Hide password' : 'Show password'"
      (click)="togglePasswordVisible()"
    >
      x
    </button>
  </div>
</div>
